.hero {
  padding: 214px 0 136px 0;
  background-image: url("../img/background-phone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid black;

  @media screen and (min-width: 768px) {
    background-image: url("../img/tablet-hero.jpg");
    padding: 201px 0 233px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url("../img/desk-header.jpg");
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      font-size: 52px;
      margin-bottom: 36px;
      padding: 0 130px;
    }

    @media screen and (min-width: 1024px) {
      width: 508px;
    padding: 0;
    margin: 0  auto 36px;
    }
  }

  &__paragraph {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    width: 220px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 33px;
      width: 428px;
    }


  }
}

.hero-btn {
  border: none;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  width: 282px;
  height: 43px;
  background-color: #ff4e50;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 228px;
  }
}
